@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --white: #fff;
  --green: #7cb35c;
  --dark-green: #557b3f;
  --black: #222; 
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
button {
  font-family: 'Roboto', sans-serif;
}
svg,img.img-404 {
  width: 100%;
  margin-right: 2em;
  border-radius: 1em;
  height: 500px;
}
h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: 400;
}
h2 {
  font-weight: 700;
}
.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: 400;
  margin: 5px 0px;
  &.green {
    border: 4px solid var(--green);
    color: var(--dark-green);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: var(--green);
      z-index: -1;
      transition: 0.2s ease;
    }
    &:hover {
      color: var(--white);
      background: var(--green);
      transition: 0.2s ease;
      &:before {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width:768px) {
  body {
    display: block;
  }
  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
} 